body{
    background-color: "#9FE2EA";
    font-family: 'Times New Roman', Times, serif;
}
.tytul{
    background-color: cornflowerblue;
    color: aliceblue;
    text-align: center;
}
.tytul a{
    color: white;
    font-family: monospace;
}
.rozporzadzenia{
    background-color: blanchedalmond;
    color: darkolivegreen;
    text-align: center;
    font-family: serif;
}